html {
  font-size: 30px;
}
section#about{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section#preview{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img#profile {
  width: 25vw;
  height: 25vw;
}
